@model List<ECommerceFPE.Models.ViewModels.UserRolesViewModel>
@{
    ViewData["Title"] = "UserRoles";
   // Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>User Roles</h1>
<table class="table table-striped">
    <tbody>
        <tr style="font-weight:bold">
            <td>First Name</td>
            <td>Last Name</td>
            <td>Email</td>
            <td>Country</td>
            <td>Gender</td>
            <td>Roles</td>
            <td>Action</td>
        </tr>

        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.Country</td>
                <td>@user.Gender</td>
                <td>@string.Join(" , ", user.Roles.ToList())</td>
                <td>
                    <a class="btn btn-primary" asp-controller="Account" asp-action="Manage" asp-route-userId="@user.UserId">Manage Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>