@{
    ViewData["Title"] = "Categories";
}


<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a asp-action="Index" asp-controller="Home">Home</a>
            <span></span> Shop
        </div>
    </div>
</div>
<section class="mt-50 mb-50">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="shop-product-fillter style-2">
                    <div class="totall-product">
                        <p> We found <strong class="text-brand">@ViewBag.categoryCount</strong> items for you!</p>
                    </div>
                    <div class="sort-by-product-area">
                       
                       
                    </div>
                </div>
                <div class="product-list mb-50">
                    @foreach (var product in ViewBag.productList)
                    {
                        <div class="product-cart-wrap">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <div class="product-img-inner">
                                        <a asp-action="ProductSingle" asp-controller="Home" asp-route-ProductId="@product.ProductId">
                                            <img class="default-img" src="~/ProductImg/@product.ImageUrl" alt="">
                                            <img class="hover-img" src="~/ProductImg/@product.ImageUrl" alt="">
                                        </a>
                                    </div>
                                </div>


                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                   @product.Category.CategoryName
                                </div>
                                <h2><a asp-action="ProductSingle" asp-controller="Home" asp-route-ProductId="@product.ProductId">@product.ProductName</a></h2>
                                <div class="product-price">
                                    @if (product.DiscountPercent > 0)
                                    {
                                        <span>@product.DiscountedPrice</span>
                                        <span class="old-price">$@product.Price</span>
                                    }
                                    <span>@product.Price</span>


                                </div>
                                <p class="mt-15">@product.Description</p>
                                <div class="product-action-1 show">
                                    <a aria-label="Buy now" class="action-btn" href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i>Add to Cart</a>

                                </div>
                            </div>
                        </div>
                    }
                </div>
             

            </div>
            <div class="col-lg-3 primary-sidebar sticky-sidebar">
                <div class="widget-category mb-30">
                    <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                    <ul class="categories">

                        <li>
                            <a href="@Url.Action("Category", "Home", new { categoryName = "All", applyFilter = true })"
                               class="@((ViewBag.SelectedCategory ?? "All").Equals("All", StringComparison.OrdinalIgnoreCase) ? "active" : "")">
                                All
                            </a>
                        </li>
                        @foreach (var category in ViewBag.categoryList)
                        {
                            <li><a href="@Url.Action("Category", "Home", new { categoryName = category.CategoryName })">@category.CategoryName</a></li>
                        }

                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>