<div class="page-header breadcrumb-wrap">
    <div class="container">
        <div class="breadcrumb">
            <a asp-action="Index" asp-controller="">Home</a>
            <span></span> <a asp-action="Category" asp-controller="Home">Categories</a>
            <span></span> <a asp-action="ProductSingle" asp-controller="Home" asp-route-ProductId="@ViewBag.product.ProductId">Product</a>
        </div>
    </div>
</div>
<section class="mt-50 mb-50">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product-detail accordion-detail">
                    <div class="row mb-50">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                <!-- MAIN SLIDES -->
                                <div class="product-image-slider">
                                    <figure class="border-radius-10">
                                        <img src="~/ProductImg/@ViewBag.product.ImageUrl" alt="product image">
                                    </figure>

                                </div>

                            </div>
                            <!-- End Gallery -->
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h2 class="title-detail">@ViewBag.product.ProductName</h2>

                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        @if (@ViewBag.product.DiscountPercent > 0)
                                        {
                                            <ins><span class="text-brand">$@ViewBag.product.DiscountedPrice</span></ins>
                                            <ins><span class="old-price">$@ViewBag.product.Price</span></ins>
                                        }
                                        else
                                        {
                                            <span class="text-brand">$@ViewBag.product.Price</span>
                                        }

                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    <p>@ViewBag.product.Description</p>
                                </div>


                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="detail-extralink">
                                    <div class="product-extra-link2">
                                        <a class="btn button-add-to-cart btn-brand" asp-controller="Home" asp-action="Cart" asp-route-productId="@ViewBag.product.ProductId" asp-route-change="add" style="width:200px;height:60px">Add to cart</a>
                                    </div>
                                </div>
                                <ul class="product-meta font-xs color-grey mt-50">

                                    <li>Availability:<span class="in-stock text-success ml-5">@ViewBag.product.QuantityInStock Items In Stock</span></li>
                                </ul>
                            </div>
                            <!-- Detail Info -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-10 m-auto entry-main-content">

                            <h3 class="section-title style-1 mb-30 mt-30">Reviews (3)</h3>
                            <!--Comments-->
                            <div class="comments-area style-2">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h4 class="mb-30">Customer questions & answers</h4>
                                        <div class="comment-list">
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="thumb text-center">
                                                        <img src="~/CategoryImg/Image1229202323341PM.jpg" alt="">
                                                        <h6><a href="#">Jacky Chan</a></h6>
                                                        <p class="font-xxs">Since 2012</p>
                                                    </div>
                                                    <div class="desc">
                                                        <div class="product-rate d-inline-block">
                                                            <div class="product-rating" style="width:90%">
                                                            </div>
                                                        </div>
                                                        <p>Thank you very fast shipping from Poland only 3days.</p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-xs mr-30">December 4, 2020 at 3:12 pm </p>
                                                                <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--single-comment -->
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="thumb text-center">
                                                        <img src="~/assets/imgs/page/avatar-7.jpg" alt="">
                                                        <h6><a href="#">Ana Rosie</a></h6>
                                                        <p class="font-xxs">Since 2008</p>
                                                    </div>
                                                    <div class="desc">
                                                        <div class="product-rate d-inline-block">
                                                            <div class="product-rating" style="width:90%">
                                                            </div>
                                                        </div>
                                                        <p>Great low price and works well.</p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-xs mr-30">December 4, 2020 at 3:12 pm </p>
                                                                <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--single-comment -->
                                            <div class="single-comment justify-content-between d-flex">
                                                <div class="user justify-content-between d-flex">
                                                    <div class="thumb text-center">
                                                        <img src="~/assets/imgs/page/avatar-8.jpg" alt="">
                                                        <h6><a href="#">Steven Keny</a></h6>
                                                        <p class="font-xxs">Since 2010</p>
                                                    </div>
                                                    <div class="desc">
                                                        <div class="product-rate d-inline-block">
                                                            <div class="product-rating" style="width:90%">
                                                            </div>
                                                        </div>
                                                        <p>Authentic and Beautiful, Love these way more than ever expected They are Great earphones</p>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="d-flex align-items-center">
                                                                <p class="font-xs mr-30">December 4, 2020 at 3:12 pm </p>
                                                                <a href="#" class="text-brand btn-reply">Reply <i class="fi-rs-arrow-right"></i> </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--single-comment -->
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--comment form-->
                            <div class="comment-form">
                                <h4 class="mb-15">Add a review</h4>
                                <div class="product-rate d-inline-block mb-30">
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <form class="form-contact comment_form" action="#" id="commentForm">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9" placeholder="Write Comment"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" name="name" id="name" type="text" placeholder="Name">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <input class="form-control" name="website" id="website" type="text" placeholder="Website">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="button button-contactForm">
                                                    Submit
                                                    Review
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>
