@model ECommerceFPE.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div class="pagetitle">
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Home</a></li>
                        <a class="breadcrumb-item" asp-action="Index" asp-controller="Product">Product</a>
                        <a class="breadcrumb-item active" asp-action="Delete" asp-controller="ProductCategory">Delete</a>
                    </ol>
                </nav>
            </div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProductName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProductName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.QuantityInStock)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.QuantityInStock)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category.CategoryName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DiscountPercent)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DiscountPercent)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="ProductId" />
                <div class="text-end mt-3">
                    <input type="submit" value="Delete" class="btn btn-danger btn-sm font-sm rounded" />
                    <a asp-action="Index" class="btn btn-brand btn-sm font-sm rounded">Back to List</a>
                </div>
               
            </form>
        </div>
    </div>
</div>

