@model IEnumerable<ECommerceFPE.Models.ReviewAll>
@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" method="get">
    <input type="search" name="search" value="@ViewData["GetSearch"]" placeholder="Enter First Name" style="width:300px;height:30px;" />
    <input type="submit" class="btn btn-primary" value="Search" />
</form>
<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">

                    <div class="pagetitle">
                        <nav>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Home</a></li>
                                <a class="breadcrumb-item" asp-action="Index" asp-controller="ReviewAll">Testimonial</a>
                            </ol>
                        </nav>
                    </div>
                    <table class="table datatable table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ApplicationUser.FirstName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Comment)
                                </th>
                                @* <th>
                                @Html.DisplayNameFor(model => model.Rating)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.ReviewDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.isActive)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Comment)
                                    </td>
                                    @* <td>
                                @Html.DisplayFor(modelItem => item.Rating)
                                </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReviewDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.isActive)
                                    </td>
                                    <td>
                                        <div class="text-end">
                                            <a asp-action="Details" asp-route-id="@item.ReviewId" class="btn btn-sm font-sm rounded btn-brand">Details</a>
                                            @if (item.isActive)
                                            {
                                                <a asp-action="ToggleStatus" asp-route-id="@item.ReviewId" class="btn btn-sm font-sm rounded btn-success" style="color:white">Active</a>
                                            }
                                            else
                                            {
                                                <a asp-action="ToggleStatus" asp-route-id="@item.ReviewId" class="btn btn-sm font-sm rounded btn-danger">Inactive</a>
                                            }

                                            <form id="deleteForm-@item.ReviewId" method="post" asp-action="Delete" asp-route-id="@item.ReviewId" class="d-inline">
                                                @Html.HiddenFor(modelItem => item.ReviewId)
                                                <button type="submit" class="btn btn-sm font-sm btn-light rounded" style="display: none;"></button>
                                                <a href="#" class="btn btn-sm font-sm rounded btn-danger" onclick="confirmDelete(@item.ReviewId)">
                                                    <i class="material-icons md-delete_forever"></i> Delete
                                                </a>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</section>

@section scripts {
    <script>
        function confirmDelete(ReviewId) {
            Swal.fire({
                title: 'Are you sure?',
                text: 'You won\'t be able to revert this!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // If confirmed, submit the form
                    document.getElementById('deleteForm-' + ReviewId).submit();
                }
            });
        }
    </script>
}
